.home {
  flex: 4;
  /* width: 100vw; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 550px) {
  .homeWidgets {
    flex-direction: column;
  }
}
