.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: teal;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo span {
  margin-top: 6px;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.topLogo {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.menuIcon {
  position: relative;
  top: 4px;
  margin-right: 10px;
}

@media only screen and (max-width: 550px) {
  .topbarWrapper {
    padding: 0;
  }
  .logo span {
    display: none;
  }
  .topRight div {
    display: none;
  }
}



.fade-enter {
  opacity: 0;
}


.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}


.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.text {
  background-color: #eee;
  border: none;
  padding: 0.8rem;
  font-size: 0.8rem;
  width: 8em;
  height: 3em;
  border-radius: 1rem;
  color: rgb(0, 128, 122);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  margin-bottom: 20px;
 }
 
 .text:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 .text:hover:not(:disabled) {
  background: rgb(0, 128, 122);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 .text:disabled {
  cursor: auto;
  color: grey;
 }

.text:hover:before {
  transform: translateX(15em);
}
